.wrapper {
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.back {
  padding: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
}

.header-title {
  font-size: 2rem;
  font-weight: 800;

  text-transform: uppercase;
}

.form-control__customer {
  display: block;

  width: 320px;

  padding: 8px;
  margin: 0 20px 0 0;

  border: 1px solid var(--text-color);
}

.cart-control {
  margin: 12px 0;
}

.title,
.operand,
.price {
  display: inline-block;

  font-size: 1.6rem;
  font-weight: 800;
}

.title {
  width: 200px;
  margin: 0 12px 0 0;
}

.operand {
  width: 10px;
  margin: 0 4px 0 0;
}

