.wrapper {
  margin: 20px;

  display: flex;
  justify-content: space-evenly;
}

.form-control__customer {
  display: block;

  width: 320px;

  padding: 8px;
  margin: 8px 0;

  border: 1px solid var(--text-color);
}

.form-control--disabled {
  display: none;
}

.form-input {
  display: block;
  width: 320px;
  height: 44px;

  padding: 12px 12px 12px 28px;

  font-size: 1.6rem;
  font-weight: 400;

  color: #828282;
  caret-color: var(--primary-color);

  border: 1px solid transparent;
  background-color: rgba(22, 24, 25, 0.06);
}

.customer-name {
  font-size: 2rem;
  font-weight: 800;

  text-transform: uppercase;
}

.cart-control {
  margin: 12px 0;
}

.title,
.operand,
.price {
  display: inline-block;

  font-size: 1.6rem;
  font-weight: 800;
}

.title {
  width: 200px;
  margin: 0 12px 0 0;
}

.operand {
  width: 10px;
  margin: 0 4px 0 0;
}
