.wrapper {
  width: 800px;
  height: 400px;

  padding: 20px;

  border-radius: 50px;
  background-color: var(--white-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-size: 2rem;
  font-weight: 800;
}

.close {
  padding: 4px;

  &:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);

    cursor: pointer;
  }
}

.horizontal-line {
  margin: 16px 0;
}

.form-control__customer {
  display: block;

  width: 320px;

  padding: 8px;
  margin: 0 20px 0 0;

  border-radius: 24px;
  border: 1px solid var(--text-color);
}

.cart-control {
  margin: 12px 0;
}

.title,
.operand,
.price {
  display: inline-block;

  font-size: 1.6rem;
  font-weight: 800;
}

.title {
  width: 200px;
  margin: 0 12px 0 0;
}

.operand {
  width: 10px;
  margin: 0 4px 0 0;
}
